<% if notice.present? %>
  <div class="alert alert-primary">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<h1>Contestants</h1>

<ul class="list-group">
  <%= render @contestants %>
</ul>
<%= link_to "Add contestant", new_admin_contestant_path %>
